body {
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #353c42de;
    background-color: hsl(210deg 17% 98%);
}

@media (min-width:992px) {
    body {
        padding-top: 0;
        padding-left: 17rem
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem
}

h2 {
    font-size: 3.5rem
}

h3 {
    font-size: 2rem
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #343a40;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem
}

.social-icons a:last-child {
    margin-right: 0
}

.social-icons a:hover {
    background-color: rgba(255, 0, 0, .877)
}

.dev-icons {
    font-size: 3rem
}

.dev-icons .list-inline-item i:hover {
    color: rgba(255, 0, 0, .877)
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-align: center
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e
}

@media (min-width:992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
        border-right: 1px solid #F9FAFB;
    }
    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: .5rem
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 13rem;
        max-height: 13rem;
        border: .5rem solid rgba(255, 255, 255, .2)
    }
    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.resume-section {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none
}

@media (min-width:768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width:992px) {
    section.resume-section {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
}

.bg-primary {
    background-color: #343a40!important;
}

.text-primary {
    color: rgba(255, 0, 0, .877)!important;
    font-weight: bold;
}

a {
    color: #343a40;
}

a:active,
a:focus,
a:hover {
    color: rgba(255, 0, 0, .877);
}

.movil img {
    display: none;
}

.ir-arriba {
    display: none;
    padding: 30px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #343a40;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.flags-lang {
    margin: 10px 3px 0 3px;
}

.flags {
    width: 28px;
}

.djShadow {
    text-shadow: 1px 1px 2px #000, 0 0 25px #00f, 0 0 5px #00008b;
    padding: 0 0 0 40px;
}

.social {
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #343a40;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, .877);
}

#navbar {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal li {
    float: left;
    background-color: #fff;
    border: 1px dotted #abc;
}

.first-nav {
    border-radius: 0 0 0 15px;
}

.last-nav {
    border-radius: 0 0 15px 0;
}

.toogleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 8px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: relative;
    top: -10px;
}

.switch .sliderContrast {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 4px #abc;
    cursor: pointer;
    border: 0 solid transparent;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #3c3a3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.switch .sliderContrast i {
    z-index: 10;
    opacity: 1;
    position: relative;
}

.switch .sliderContrast i:before {
    font-size: 16px;
    position: absolute;
    color: #fff;
}

.switch .sliderContrast .icon-moon {
    top: -8px;
    right: 6px;
}

.switch .sliderContrast .icon-sun {
    top: -8px;
    right: 8px;
}

.switch .sliderContrast:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff1f1f;
    border-radius: 30px;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
    opacity: .7;
}

.switch input:checked+.sliderContrast:before {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    background-color: #ff1f1f;
}

.btn-contrast {
    margin: 4px;
}

.control-high-contrast,
.control-high-contrast:hover,
.high-contrast,
.high-contrast:hover {
    background-color: #000!important;
    color: #fff!important;
    transition: 1s;
}

.url-certificate {
    text-decoration: none!important;
}

@media only screen and (max-width:768px) {
    .movil img {
        display: block;
        width: 45%;
        margin: auto;
    }
    h1 {
        font-size: 4rem;
        text-align: center;
    }
    .textMovil {
        padding-top: 10px;
        font-size: 14px;
        text-align: center;
    }
}

@media screen and (max-width:425px) {
    #navbar {
        display: none;
    }
    .list-inline {
        text-align: center;
    }
    .ir-arriba {
        bottom: 50px;
        right: 10px;
    }
    .toogleContainer {
        align-items: flex-start;
    }
    .switch {
        top: -14px;
    }
}