body{
  margin: 0;
  padding: 0;
}
div.alert{
  background-color: #EFEFEF;
  border: 1px solid #666;
  border-radius: 5px;
  color: #666;
  padding: 15px;
}

div.alert-danger{
  background-color: #f8d7da;
  border-color:#f5c6cb;
  color: #721c24;
  margin-bottom: 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

form.login{
  border-radius: 5px;
  -webkit-box-shadow: 2px 10px 41px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 41px -8px rgba(0,0,0,0.75);
box-shadow: 2px 10px 41px -8px rgba(0,0,0,0.75);
}

form.login input{
  font-size: 18px;
}

form.login input[type=submit]{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
    box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
}

form label{
  display: block;
  color: #014D65;
  padding-bottom: 3px;
  padding-right: 3px;
}
form label.recordarUsuario{
  display: inline-block;

}
footer{
  background: #333 url('../imagenes/logoUNADMobile-HD.png') no-repeat center bottom 20px;
  background-size: 155px 38px;
  color: #FFF;
  padding: 10px 2% 90px 2%;
  overflow: hidden;
  width: 100% !important;
}

footer p:nth-child(2){
  border-top: 2px solid #CCC;
  padding-top: 10px;
}

footer p a{
  color: #FFF;
}

h1{
  color: #014D65;
  font-size: 20px;
  margin: 20px 0;

  text-align: center;
}

header{
  background: #014D65 url('../imagenes/logoUNADMobile-HD.png') no-repeat top 8px left 20px;
  border-top: 2px solid #F4B945;
  background-size: 155px 38px;
  -webkit-box-shadow: 2px 6px 27px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 27px -8px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 27px -8px rgba(0,0,0,0.75);
  /*  z-index: 5000;*/
}

strong#usuarioNombre{
  color: #014D65;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

ul.enlacesLogin{
  margin: 0 auto;
  max-width: 420px;
  padding: 20px;
}

ul.enlacesLogin li{
  padding-bottom: 15px;
}

ul.enlacesLogin a{
  color: #014D65;
  border-bottom: 2px dotted;
  text-decoration: none;
}
ul.enlacesLogin a:hover{
  border-bottom: solid;
}


@media screen and (min-width:1000px){
  h1{
    margin-top: 50px;
  }

  footer{
    background: #333 url('../imagenes/logoUNADMobile-HD.png') no-repeat top 40px left 3%;
    background-size: 155px 38px;
    padding: 10px 10px 10px 20%;
    width: 80%;
  }

  footer.fixed{
    position: absolute;
    bottom: 0;
  }


  footer p{
    font-size: 12px;

  }

  header{
      background: #FFF url('../imagenes/logoUNAD-HD.png') no-repeat top center;
      background-size: 1322px 128px;
  }

  header div.barraHeader{
    background:  linear-gradient(#007390,#004C64 );
  }

  ul.enlacesLogin a{
    font-size: 14px;
  }
}
